rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedInAs(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /stepUsers/{uid}/states/{stateId} {
      allow read, write: if signedInAs(uid);

      match /history/{historyId} {
        allow read, write: if signedInAs(uid);
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
